#heroBg {
  background-image: url("./image/heroBg.jpg");
  background-size: cover;
}
#heroBg1 {
  background-color: rgba(0, 0, 0, 0.5);
}
.borderB {
  border-bottom: 10px solid #222222;
}
.dark {
  background-color: #000;
}
h1 {
  font-size: clamp(3.1rem, 4vw, 4rem);
  /* font-size: 64px; */
}
h2 {
  font-size: clamp(2.5rem, 4vw, 3.5rem);
  /* font-size: 50px; */
}
h3 {
  font-size: clamp(1.4rem, 4vw, 1.63rem);
  /* font-size: 26px; */
}
h4 {
  font-size: clamp(1.15rem, 4vw, 1.3rem);
  /* font-size: 20px; */
}
p {
  font-size: 13px;
}
.accoC {
  background-color: #303030;
}
.red {
  background-color: #e40813;
  color: white !important;
}
.btn1 {
  width: 94px;
  height: 40px;
}
.btn11 {
  width: 94px;
  height: 20px;
}
.btn2 {
  width: 130px;
  height: 50px;
}
